.stored-person {
  display: flex;
}

.stored-person-name {
  width: 50%;
}

.stored-people {
  max-height: 100%;
  overflow: scroll;
}

.stored-person-age,
.stored-person-id {
  flex-shrink: 0;
  width: 25%;
}