.image-preview-container {
  height: 250px;
  margin: 0 auto;
  width: 300px;
}

.image-preview-container-header {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.image-preview {
  max-height: 100%;
  max-width: 100%;
}